/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
    overflow-x: hidden;
}
body{
    position: relative;
    margin:0;
    padding:0;
    min-height: 100%;
    height:auto;   
    overflow-x: hidden;
    
}
.fullheight{
    height: 100%;
}
.fullwidth{
    width:100%;
}

 /*a {
    font-family: 'Mallanna', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #fc3c1d;
  }

  a: hover {
    text-decoration: none;
  }*/ 

.links {
    *zoom: 1;
    padding: 50px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background: #313131;
  }
  .links:before, .links:after {
    content: "";
    display: table;
  }
  .links:after {
    clear: both;
  }

  .link-effect-12 a {
    color: #fc3c1d;
    padding: 10px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    -moz-transition: ease-out 0.3s 0.1s;
    -o-transition: ease-out 0.3s 0.1s;
    -webkit-transition: ease-out 0.3s;
    -webkit-transition-delay: 0.1s;
    transition: ease-out 0.3s 0.1s;
  }
  .link-effect-12 a span::before {
    width: 100%;
    height: 2px;
    background: #fc3c1d;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .link-effect-12 a span::after {
    width: 100%;
    height: 2px;
    background: #fc3c1d;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    -moz-transition: 0.1s 0.2s;
    -o-transition: 0.1s 0.2s;
    -webkit-transition: 0.1s;
    -webkit-transition-delay: 0.2s;
    transition: 0.1s 0.2s;
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .link-effect-12 a::before {
    width: 2px;
    height: 100%;
    background: #fc3c1d;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -moz-transition: 0.1s 0.3s;
    -o-transition: 0.1s 0.3s;
    -webkit-transition: 0.1s;
    -webkit-transition-delay: 0.3s;
    transition: 0.1s 0.3s;
  }
  .link-effect-12 a::after {
    width: 2px;
    height: 100%;
    background: #fc3c1d;
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0;
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -moz-transition: 0.1s 0.1s;
    -o-transition: 0.1s 0.1s;
    -webkit-transition: 0.1s;
    -webkit-transition-delay: 0.1s;
    transition: 0.1s 0.1s;
  }
  .link-effect-12 a:hover {
    color: #fc3c1d;
    text-decoration: none;
  }
  .link-effect-12 a:hover::before, .link-effect-12 a:hover::after {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .link-effect-12 a:hover span::before, .link-effect-12 a:hover span::after {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .link-effect-14 a {
    color:  #302d2c;
    padding: 5px 10px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    -moz-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
    text-decoration: none;
  }
  .link-effect-14 a span::before {
    width: 5px;
    height: 5px;
    background: transparent;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-top: 2px solid #fc3c1d;
    border-left: 2px solid #fc3c1d;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
  }
  .link-effect-14 a span::after {
    width: 5px;
    height: 5px;
    background: transparent;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border-right: 2px solid #fc3c1d;
    border-bottom: 2px solid #fc3c1d;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
  }
  .link-effect-14 a::before {
    width: 5px;
    height: 5px;
    background: transparent;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    border-right: 2px solid #fc3c1d;
    border-top: 2px solid #fc3c1d;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
  }
  .link-effect-14 a::after {
    width: 5px;
    height: 5px;
    background: transparent;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-left: 2px solid #fc3c1d;
    border-bottom: 2px solid #fc3c1d;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
  }
  .link-effect-14 a:hover {
    color: #fc3c1d;
  }
  .link-effect-14 a:hover::before {
    opacity: 1;
    right: 5px;
    top: 5px;
  }
  .link-effect-14 a:hover::after {
    opacity: 1;
    left: 5px;
    bottom: 5px;
  }
  .link-effect-14 a:hover span::before {
    opacity: 1;
    left: 5px;
    top: 5px;
  }
  .link-effect-14 a:hover span::after {
    opacity: 1;
    right: 5px;
    bottom: 5px;
  }