<div class="row "  id="main" >
    <div class="col-md-12">
            <div class="row "  id="content_top" >
                    <div class="col-md-3 col-sm-6">
                        <div class="row">
                                <img src="/assets/images/it/IT1 we3dx.svg" alt="" style="width:70%;max-height:300px;">
                        </div>
                        <div class="row">
                            <div class="col">
                                        <div class="row toggle-container">
                                                    <div class="col">
                                                                <div class="row" style="justify-content: flex-end">
                                                                    <span class="toggle-details1" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"></span>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col">
                                                                    <div class="collapse multi-collapse1" id="multiCollapseExample1">
                                                                        <div class="card card-body">
                                                                                -	iPhone, Android Apps, Windows & Blackberry<br>
                                                                                -	Application Assessment<br>
                                                                                -	Custom Application Development<br>
                                                                                -	Legacy Application Modernization<br>
                                                                                -	Information Architecture<br>
                                                                                -	Product Support & Customization<br>
                                                                                -	Application Migration
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                    </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                            <div class="row">
                                    <img src="/assets/images/it/IT2 we3dx.svg" alt="" style="width:70%;max-height:300px;">
                            </div>
                            <div class="row">
                                <div class="col">
                                            <div class="row toggle-container">
                                                        <div class="col">
                                                                <div class="row" style="justify-content: flex-end">
                                                                        <span class=" toggle-details2" data-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample2"></span>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                        <div class="collapse multi-collapse2" id="multiCollapseExample2">
                                                                            <div class="card card-body">
                                                                                    -	User Experience (UX) <br>
                                                                                    -	User Interface Design<br>
                                                                                    -	UX Web Design & Development<br>
                                                                                    -	Wireframing & User Experience<br>
                                                                                    -	Concept Design<br>
                                                                                    -	Technical & Information Architecture (IA) <br>
                                                                                    -	Cognitive Walkthrough<br>
                                                                                    -	Heuristic Evaluation<br>
                                                                                    -	Customer Experience <br>
                                                                                    -	Creative Direction<br>
                                                                                    -	Information Architecture<br>
                                                                                    -	Functionality & Layout Testing<br>
                                                                                    -	Digital Strategy<br>
                                                                                    -	Service Design
                                                                                 </div>
                                                                        </div>
                                                                        </div>
                                                                    </div>
                                                        </div>
                                            </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                                <div class="row">
                                        <img src="/assets/images/it/IT3 we3dx.svg" alt="" style="width:70%;max-height:300px;">
                                </div>
                                <div class="row">
                                    <div class="col">
                                                <div class="row toggle-container">
                                                            <div class="col">
                                                                    <div class="row" style="justify-content: flex-end">
                                                                            <span class=" toggle-details3" data-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="multiCollapseExample3"></span>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                            <div class="collapse multi-collapse3" id="multiCollapseExample3">
                                                                                <div class="card card-body">
                                                                                        -	Website/Portal Development<br>
                                                                                        -	eCommerce Development<br>
                                                                                        -	WordPress<br>
                                                                                        -	Legacy Browser Support<br>
                                                                                        -	Content Management Systems<br>
                                                                                        -	Responsive Web Development<br>
                                                                                        -	Product Management<br>
                                                                                        -	Project Management<br>
                                                                                        -	Site Merchandising<br>
                                                                                        -	Desktop Applications<br>
                                                                                        -	AMS & CRM Integration<br>
                                                                                        -	CRM Customization<br>
                                                                                        -	Third Party API Integration
                                                                                     </div>
                                                                            </div>
                                                                            </div>
                                                                        </div>
                                                            </div>
                                                </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                    <div class="row">
                                            <img src="/assets/images/it/IT4 we3dx.svg" alt="" style="width:50%;max-height:300px;">
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                                    <div class="row toggle-container">
                                                                <div class="col">
                                                                        <div class="row" style="justify-content: flex-end">
                                                                                <span class=" toggle-details4" data-toggle="collapse" href="#multiCollapseExample4" role="button" aria-expanded="false" aria-controls="multiCollapseExample4"></span>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col">
                                                                                <div class="collapse multi-collapse4" id="multiCollapseExample4">
                                                                                    <div class="card card-body">
                                                                                            -	Digital Plotting / Info-Graphics <br>
                                                                                            -	Branding & Element Design<br>
                                                                                            -	Corporate Identity <br>
                                                                                            -	Narrative Design<br>
                                                                                            -	Style Guides<br>
                                                                                            -	Visual Design<br>
                                                                                            -	Motion Graphics & Video
                                                                                        </div>
                                                                                </div>
                                                                                </div>
                                                                            </div>
                                                                </div>
                                                    </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-md-3"><img src="/assets/images/it/IT2 we3dx.svg" alt="" style="width:70%;max-height:300px;"></div>
                    <div class="col-md-3"><img src="/assets/images/it/IT3 we3dx.svg" alt="" style="width:70%;max-height:300px;"></div>
                    <div class="col-md-3"><img src="/assets/images/it/IT4 we3dx.svg" alt="" style="width:50%;max-height:300px;"></div> -->
                    
            </div>
            <div class="row "  id="content_top" >
                    <div class="col-md-3 col-sm-6">
                            <div class="row">
                                    <img src="/assets/images/it/IT5 we3dx.svg" alt="" style="width:50%;max-height: 300px;">
                            </div>
                            <div class="row">
                                <div class="col">
                                            <div class="row toggle-container">
                                                        <div class="col">
                                                                <div class="row" style="justify-content: flex-end">
                                                                        <span class=" toggle-details5" data-toggle="collapse" href="#multiCollapseExample5" role="button" aria-expanded="false" aria-controls="multiCollapseExample5"></span>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                        <div class="collapse multi-collapse5" id="multiCollapseExample5">
                                                                            <div class="card card-body">
                                                                                    -	EDI/B2B Services<br>
                                                                                    -	Enterprise Application Development<br>
                                                                                    -	Rapid Business Prototyping<br>
                                                                                    -	Enterprise Application Integration<br>
                                                                                    -	Enterprise Application Integration<br>
                                                                                    -	Motivation Matrix<br>
                                                                                    -	Business Analysis<br>
                                                                                    -	Strategic Consulting<br>
                                                                                    -	Content & Usability Audits<br>
                                                                                    -	Competitive Audit<br>
                                                                                    -	Product Measurement & Analytics
                                                                                 </div>
                                                                        </div>
                                                                        </div>
                                                                    </div>
                                                        </div>
                                            </div>
                                </div>
                            </div>
                        </div>
                   
                    <div class="col-md-3 col-sm-6">
                            <div class="row">
                                    <img src="/assets/images/it/IT6 we3dx.svg" alt="" style="width:50%;max-height: 300px;">
                            </div>
                            <div class="row">
                                <div class="col">
                                            <div class="row toggle-container">
                                                        <div class="col">
                                                                <div class="row" style="justify-content: flex-end">
                                                                        <span class=" toggle-details6 " data-toggle="collapse" href="#multiCollapseExample6" role="button" aria-expanded="false" aria-controls="multiCollapseExample6"></span>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                        <div class="collapse multi-collapse6" id="multiCollapseExample6">
                                                                            <div class="card card-body">
                                                                                    -	EDI/B2B Services<br>
                                                                                    -	Enterprise Application Development<br>
                                                                                    -	Rapid Business Prototyping<br>
                                                                                    -	Enterprise Application Integration<br>
                                                                                    -	Enterprise Application Integration<br>
                                                                                    -	Motivation Matrix<br>
                                                                                    -	Business Analysis<br>
                                                                                    -	Strategic Consulting<br>
                                                                                    -	Content & Usability Audits<br>
                                                                                    -	Competitive Audit<br>
                                                                                    -	Product Measurement & Analytics
                                                                                 </div>
                                                                        </div>
                                                                        </div>
                                                                    </div>
                                                        </div>
                                            </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                                <div class="row">
                                        <img src="/assets/images/it/IT7 we3dx.svg" alt="" style="width:50%;max-height: 300px;">
                                </div>
                                <div class="row">
                                    <div class="col">
                                                <div class="row toggle-container">
                                                            <div class="col">
                                                                    <div class="row" style="justify-content: flex-end">
                                                                            <span class=" toggle-details7 " data-toggle="collapse" href="#multiCollapseExample7" role="button" aria-expanded="false" aria-controls="multiCollapseExample7"></span>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                            <div class="collapse multi-collapse7" id="multiCollapseExample7">
                                                                                <div class="card card-body">
                                                                                        -	Cloud Strategy & Consulting<br>
                                                                                        -	Cloud Application Services<br>
                                                                                        -	IaaS or PaaS Cloud Platforms<br>
                                                                                        -	Process Optimization<br>
                                                                                        -	Cloud Management Services<br>
                                                                                        -	Cloud Infrastructure Services<br>
                                                                                        -	Cloud Software Services<br>
                                                                                        -	Data Migration
                                                                                     </div>
                                                                            </div>
                                                                            </div>
                                                                        </div>
                                                            </div>
                                                </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                    <div class="row">
                                            <img src="/assets/images/it/IT8 we3dx.svg" alt="" style="width:50%;max-height: 300px">
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                                    <div class="row toggle-container">
                                                                <div class="col">
                                                                        <div class="row" style="justify-content: flex-end">
                                                                                <span class=" toggle-details8" data-toggle="collapse" href="#multiCollapseExample8" role="button" aria-expanded="false" aria-controls="multiCollapseExample8"></span>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col">
                                                                                <div class="collapse multi-collapse8" id="multiCollapseExample8">
                                                                                    <div class="card card-body">
                                                                                            -	1 On 1 Training<br>
                                                                                        </div>
                                                                                </div>
                                                                                </div>
                                                                            </div>
                                                                </div>
                                                    </div>
                                        </div>
                                    </div>
                                </div>
                   
            </div>
           
    </div>

    <div class="col-md-12" id="bottom">
          <div class="row" id="bottom_text">
                <p>In a nutshell, we make well-crafted stuff. <u> UX Wizards and Tech Geniuses.</u></p>
        </div> 
          <div class="row" id="bottom_logo"><br>
                Here’s who could make best use of us :
                <div id="logos">
                    <img src="/assets/images/it/clients/delphi.svg" alt="" style="width:20%;height:30%">
                    <img src="/assets/images/it/clients/AWSPartner.svg" alt="" style="width: 20%;height:35%;margin-left:5%;margin-right:5%;">
                    <img src="/assets/images/it/clients/Premium Care.svg" alt="" style="width:18%;height:28%">
                    <img src="/assets/images/it/clients/gnlc.svg" alt="" style="width:20%;height:25%;margin-left:5%;margin-right:5%;"><br><br>
                    <img src="/assets/images/it/clients/UKH.svg" alt="" style="width:18%;height:22%">
                    <img src="/assets/images/it/clients/MDI.svg" alt="" style="width:20%;height:25%;margin-left:5%;margin-right:5%;">
                    <img src="/assets/images/it/clients/fujitsu.svg" alt="" style="width:20%;height:25%">
                    <img src="/assets/images/it/clients/harley 2.svg" alt="" style="width:20%;height:35%">
                  </div>
          </div>
    </div>
</div>
