.hireme-footer{
    padding-left:2rem;
    font-size: 0.8rem;
    padding-top: 1rem;
    font-family: 'Assistant','sans-serif';
}
.element{
    shape-outside: polygon(34px 186px, 69px 105px, 152px 103px, 182px 63px, 239px 70px, 202px 132px, 204px 250px, 60px 251px);
    /* shape-image-threshold: 0.5;
     */
    shape-outside: url('/assets/images/career graphics.svg');
    float: right;
    position: absolute;
    top:5rem;
    right:0;
  max-width:100%;
  max-height: 550px;
  float: right;
  font-family: 'Assistant','sans-serif';
}
label{
    font-family: 'Assistant','sans-serif';    
}
.career-head{
    padding-right: 20%;
    padding-top:2rem;
    font-size:1rem;
    padding-left:3rem;
    /* background-image: url('/assets/images/career graphics.svg'); */
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    min-height: 80vh;
    height: auto;
    font-weight: 600;
    font-family: 'Assistant','sans-serif';
}

.job-lists{
    background-image: url('/assets/images/job\ position\ box\ career.svg');
    background-size: 100%;
    z-index: 999999;
    font-family: 'Assistant','sans-serif';
    
    margin:100px 0 50px 0;
}

.job-position-name{
    font-size:2.5rem;
    color: white;
    background-color: transparent;
    z-index: 99999;
    text-align: left;
    font-family: 'Assistant','sans-serif';
}
.job-position-description{
    font-size:0.8rem;
    overflow-y: hidden;
    
    font-family: 'Assistant','sans-serif';
    height:auto;
}
.social-links{
    padding-left:20%;
    padding-top: 20px;
}
.social-links p,a{
    font-size:0.9rem;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
    padding-right:5px;
}
.job-app-form {
    padding: 20px;

}
.job-app-form > div{
    padding:5px;
}
.job-apply{
    text-align: center;
}
.job-apply-btn{
    color: white;
    text-align: center;
    margin: 20px auto  0;
    cursor: pointer;
    padding:10px; 
    font-weight: 600;

}
.form-submit-btn{
    cursor: pointer;
    box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.05);
    padding: 5px 20px;
}
.form-submit-btn:hover{
    opacity:0.8;
    box-shadow: 0.5px 1px 1px 0.5px rgba(0,0,0,0.1);
}
.form-submit-btn:clicked{
    box-shadow: 0.5px 1px 1px 0.5px rgba(0,0,0,0.05)
}
.job-app-form{
    transform: translateX(-100%);
    overflow-x: hidden;   
    transition: all 0.5s; 
}
.job-form-head h3{
    padding: 10px;
    text-align: center;
}
.job-app-form input{
    width: 100%;
    max-width:100%;
    background-color: transparent;
    border:none;
    
    outline:none;
    user-select: none;    
    padding:5px 0;    
    font-family: 'Assistant','sans-serif';
}
.social-links a{
    padding-top: 10px;
    font-size:0.9rem;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Assistant','sans-serif';
}
.card{
    background: transparent;
    color: white;
    font-family: 'Assistant','sans-serif';
}
.card-header button{
    font-size:3rem;
    color: white;
    text-decoration:none;
    text-align: center;    
    font-family: 'Assistant','sans-serif';
}
button{
    background-color: transparent;
    border: none;  outline: none;
    user-select: none;  
    margin-top: 20px;
}
.hireme-footer p {
    text-align: justify;
}
.newclass{
    transform: translateX(0);
    
}
@media screen and (max-width:1100px){
    .element{
        position: relative;margin:0 auto;
        height: auto;
        top: 0;
        right: 0;
        transform: translateX(-20%);
    }
    .career-head{
        padding-right:20px;
        min-height: auto;
    }
    .job-app-form{
        height: 0;
        transform: translateX(0);
        overflow-y:hidden; 
        transition: all 0.5s;
    }
    .newclass{
        height: auto;    
    }
    transform: translateX(0);
    

}
@media screen and (max-width:600px){
    .element{
        max-height:400px;    
        top: 0;
        transform: translateX(0);
    
    }
    .career-head{
        padding: 20px;
    }
    .social-links{
        padding: 20px;
    }
    .hireme-footer{
        padding:10px;
    }
    
}