<div id="main">

        <div class="block1" style="overflow:hidden;">
               <div id="left_10"></div>
                <div id="toptext">
                  
                   <div id="toptextright">
                           <p style=" display: inline-block;text-align:right;padding-top:10%; ">
                                   Medical records moving from paper to digital and then to the cloud which improves everyday needs of the medical
                                   community.<br/> Also streamline billing, giving patients access to their information/reports and maintaining patient’s
                                   entire medical history.<br/>
                                   We have expansive network of Doctors and Healthcare experts fueling our expansive research models.<br/> Further,
                                   allows doctors and researchers to improve collaboration.<br/>
                                 
                               </p>
                   </div>
                   <div class="vertical-line" style="height:22vh;margin-top:11vh;"></div>
                   <div id="toptextleft">
                        
                           <p style=" text-align:left;margin-top:-33vh;padding-top:10%;">
                             Scope and Solutions to leverage technology,<br/> increase access to information,<br/> drive better
                                       patient outcomes<br/> and record maintenance.<br/><br/>
                           <b> Doctors| Radiology Centers| Diagnostic Centers | Pharmaceutical Companies</b>
                         
                           </p>
                   </div>
                       
                   </div>
               
               <div id="left_10"></div>
            
        </div>
      
      <div id="spacer"></div>
      
      <div class="block1">
        <div id="left_10_large"></div>
       <div class="plusarea1">
           <div id="plusareain1" data-target="#collapseExample1" role="button" data-toggle="toggle">
                <span id="plus">&#43;</span><br/>
                <p style="text-align: center; font-weight:bolder;">Healthcare <br/>Technology</p>
           </div>
      
                
       </div>
       <div id="filler1"> </div>
       <div id="drawerarea1">
            <div class="toggle collapse1" id="collapseExample1">
                    <div class="texthere1">
                      - Patient studies on cloud <br/>(medical image repository).<br/><br/>
                      - Risk of data loss is <br/>completely eliminated.
                    </div>
                 </div>
       </div>
       <div id="left_10"></div>
       <div id="left_10"></div>
      </div>
      <div id="spacer"></div>
      
      <div class="block2">
        <div id="right_10_large"></div>
        <div class="plusarea2">
                <div id="plusareain2" data-target="#collapseExample2" role="button" data-toggle="toggle">
                        <span id="plus">&#43;</span><br/>
                        <p style="text-align: center;"><b>Medical <br/>Device</b></p>
                   </div>
      
        </div>
        <div id="filler2"> </div>
        <div id="drawerarea2">
            <div class="toggle collapse2" id="collapseExample2">
                <div class="texthere2">
                    - Launching prototype or <br>&nbsp;product to sustainable<br>&nbsp; engineering.<br/><br/>
                    - Devising software<span id="mybreaksm1"> <br></span> design<span id="mybreaksm"> <br></span><span id="mybreaklg"> <br></span> and development<span id="mybreaksm1"> <br></span> services.
             </div>
             </div>
        </div>
        <div id="right_10"></div>
        <div id="right_10"></div>
        
      </div>
      
      <div id="spacer"></div>
      <div class="block1">
          <div id="left_10_large"></div>
            <div class="plusarea1">
                <div id="plusareain1" data-target="#collapseExample3" role="button" data-toggle="toggle">
                     <span id="plus">&#43;</span><br/>
                     <p style="text-align:center;"><b> Mobile <br/> Health App <br>Development</b></p>
                </div>
      
                     
            </div>
            <div id="filler1"> </div>
            <div id="drawerarea1">
                 <div class="toggle collapse1" id="collapseExample3" >
                         <div class="texthere1">
                                - Patient centric online care<span id="mybreaksm"> <br></span><span id="mybreaksm1"> <br></span> models.<br/><br/>
                                - Clinical diagnostic apps to <br/>medication management<span id="mybreaksm"> <br></span><span id="mybreaksm1"> <br></span> apps.<br/><br/>
                                - EMRs to medical<span id="mybreaksm"> <br></span><span id="mybreaksm1"> <br></span> scheduling solutions.<br/>
                         
                         </div>
                      </div>
            </div>
            <div id="left_10"></div>
            <div id="left_10"></div>
         </div>
      <div id="spacer"></div>
      <div class="block2">
        <div id="right_10_large"></div>
        <div class="plusarea2">
                <div id="plusareain2i" data-target="#collapseExample4" role="button" data-toggle="toggle">
                        <span id="plus">&#43;</span><br/>
                        <p style="text-align: center; ">Telehealth<span id="mybreaksm"><br></span><span id="mybreaksm1"> <br></span> and<br/> Collaborative<br/> Medical Imaging <br/>Platforms (PACS)</p>
                   </div>
      
        </div>
        <div id="filler2"> </div>
        <div id="drawerarea2">
             <div class="toggle collapse2" id="collapseExample4">
                     <div class="texthere2i" >
                           - Monitoring sensors to<span id="mybreaksm"> <br></span><span id="mybreaksm1"> <br></span> mobile <span id="mybreaklg"> <br></span><span id="mybreaklg"> &nbsp; </span> clinics.<br><br>
                           - Sharing of DICOM <span id="mybreaksm1"> <br></span>images.<br/><br/>
                           - Increases accuracy of <span id="mybreaksm"> <br></span><span id="mybreaksm1"> <br></span>medical <span id="mybreaklg"> <br></span>&nbsp;interpretations <span id="mybreaksm"> <br></span><span id="mybreaksm1"> <br></span>without <span id="mybreaklg"> <br></span>&nbsp;loss of<span id="mybreaksm1"> <br></span> <span id="mybreaksm"> <br></span>diagnostic value.<br/><br/>
                           - Remote Consultation.
                         
                     </div>
                  </div>
        </div>
        <div id="right_10"></div>
        <div id="right_10"></div>
        
      </div>
      <div id="spacer"></div>  
      
      <div class="block1">
        <div id="left_10_large"></div>
            <div class="plusarea1">
                <div id="plusareain1" data-target="#collapseExample5" role="button" data-toggle="toggle">
                     <span id="plus" >&#43;</span><br/>
                     <p style="text-align:center;"><b>HL7 Interface<br/> Engine</b></p>
                </div>
      
                     
            </div>
            <div id="filler1"> </div>
            <div id="drawerarea1">
                 <div class="toggle collapse1" id="collapseExample5">
                         <div class="texthere1" >
                                - Health Level 7<br/><br/>
                                - Standardized data<span id="mybreaksm1"> <br></span> transfer <span id="mybreaklg"> <br></span><span id="mybreaksm"> <br></span>between <span id="mybreaksm1"> <br></span> applications.<br/><br/>
                                - Health Informatics<br/> service architecture.
                         </div>
                      </div>
            </div>
            <div id="left_10"></div>
            <div id="left_10"></div>
         </div>
      <div id="spacer"></div>
      <div class="block2">
        <div id="right_10_large"></div>
        <div class="plusarea2">
                <div id="plusareain2" data-target="#collapseExample6" role="button" data-toggle="toggle">
                        <span id="plus" >&#43;</span><br/>
                        <p style="text-align: center;"><b>Redesign <br/>and <br/>Enhancements</b></p>
                   </div>
      
        </div>
        <div id="filler2"> </div>
        <div id="drawerarea2">
             <div class="toggle collapse2" id="collapseExample6">
                     <div class="texthere2" >
                            -Develop-Customize-<span id="mybreaksm1"> <br></span>Enhance <span id="mybreaksm"> <br></span><span id="mybreaklg"> <br></span>your existing <span id="mybreaksm1"> <br></span>product at<span id="mybreaksm"> <br></span><span id="mybreaklg"> <br></span> interface/<span id="mybreaksm1"> <br></span>functional level.<br/><br/>
                            -Integrate medical<span id="mybreaksm1"> <br></span> imaging <span id="mybreaksm"> <br></span><span id="mybreaklg"> <br></span>as a service<span id="mybreaksm1"> <br></span> with<span id="mybreaksm"> <br></span><span id="mybreaklg"> <br></span> advanced <span id="mybreaksm1"> <br></span>diagnostic tools.
                     </div>
                  </div>
        </div>
        <div id="right_10"></div>
        <div id="right_10"></div>
        
      </div>
      <div id="spacer"></div>


      <br>

      <div class="row no-gutters fullwidth" style="justify-content: center;">
        <section class="link"><nav class="link-effect-12" id="link-effect-12"><a routerLink="/it"><span>SEE MORE</span></a></nav></section>
      </div>
      

                                                              <!-- Footer starts -->
<div class="row footer no-gutters" style="position: relative; height: 96vh; overflow: hidden;">

  <div class="row fullwidth no-gutters" style="height: 30%; background-color: white;">

<form [formGroup]="formdata" (ngSubmit) = "submit_query(formdata.value)">

    <div class="col-12 no-gutters" style="padding: 0;">
       <div class="input-group">
        <textarea name="query" formControlName="query" class="form-control query_area fullwidth" required="required" placeholder="Enter your query" aria-label="Query"></textarea>
     </div>
    </div>

    <div class="col-12 no-gutters">
      <div class="input-group">
          <input type="email" name="email" formControlName="email" required="required" class="form-control email_area fullwidth" placeholder="email@example.com" aria-label="Email" aria-describedby="basic-addon1">

          <button align="center" type="submit" class="send_area">> Send </button>
      </div>
    </div>  

</form>
  </div>


  <div class="row fullwidth no-gutters links_div" style="height: 40%; overflow: hidden;">

    <div class="col-3 about_div fullheight fullwidth">
    <ul>
      <ol><a routerLink="/about"><span>About us</span></a></ol>
      <ol><a routerLink="/it"><span>IT</span></a></ol>
      <ol><a routerLink="/3dprinting"><span>3D Printing</span></a></ol>
      <ol><a routerLink="/branding"><span>Graphics</span></a></ol>
    </ul>
    </div>

    <div class="col-3 hire_div fullheight fullwidth">
      <ul>
      <ol><a routerLink="/blogs"><span>Blog</span></a></ol>
       <ol><a routerLink="/hireus"><span>Hire us</span></a></ol>
      <ol><a routerLink="/hireme"><span>Hire me</span></a></ol>
      <ol><a routerLink="/contactus"><span>Contact</span></a></ol>
    </ul>
    </div>


    <div class="col-3 social_div fullheight fullwidth">
    <ul>
      <ol><a href="https://www.facebook.com/" target="_blank"><span class="social_icon">Facebook</span></a></ol>
      <ol><a href="https://www.twitter.com/" target="_blank"><span class="social_icon">Twitter</span></a></ol>
      <ol><a href="https://www.instagram.com/" target="_blank"><span class="social_icon">Instagram</span></a></ol>
      <ol><a href="https://www.linkedin.com/" target="_blank"><span class="social_icon">LinkedIn</span></a></ol>
    </ul>
    </div>

    <div class="col-3  fullheight fullwidth">
    </div>

  </div>

  <div class="row ext-rotate" style="height: 30%;">
  </div> 


<a routerLink="/">
<div class="arrow">  
</div>
</a>

</div>                                            <!-- Footer ended -->


                                                  <!-- Extream Footer starts -->
<div class="row ext-footer fullwidth justify-content-md-center">
  <span>© Copyright 2015-2019 WoodFlake Business Solutions and Retail Pvt. Ltd.</span>
</div>                                            <!-- Extram Footer ended -->


      </div>


      