<div id="main">

  <div id="block1">
         <div id="left_10"></div>
         
         <div id="toptext">
              <p>  We communicate design! Design alone cannot create a brand image; it is overall consumer 
                 <b> response to various factors devised under larger umbrella of Brand Identity.</b><br><br>
                 Collective principles and visual elements to ensure your identity and ethos meshes perfectly with the image you wish
                 to project.<br><br>
             <b>Brands are beyond logos.</b> It is unique combination of a logo, lines, typefaces, colors, statements, content,
                 pricing model, marketing strategy, customer service, attitude, voice, and more. Although
             <b> brand image can’t be designed, brand identity most certainly can.</b></p> 
            
             </div>
         
         <div id="left_10"></div>
      
  </div>

<div id="spacer"></div>
     <div id="block1">
         <div id="left_10_large"></div>
        <div id="plusarea1">
            <div id="plusareain1" data-target="#collapseExample1" role="button" data-toggle="toggle">
                 <span id="plus">&minus;</span><br/>
                 <p style="text-align: center; font-weight:bolder;">Rebranding <br>Services </p>
            </div>

                 
        </div>
        <div id="filler1"> </div>
        <div id="drawerarea1">
             <div class="toggle collapse1" id="collapseExample1">
                     <div class="texthere1">
                             - Brand positioning<br>
                             - Unify goals to obtain <br>common objective<br>
                             - Rise above negatives<br>
                             - Build loyalty base<br>
                             - Refresh, revive and<span id="mybreaksm"><br></span> don’t date back<br>
                      
                     </div>
                  </div>
        </div>
        <div id="left_10"></div>
        <div id="left_10"></div>
     </div>
<div id="spacer"></div>


<div id="block2">
<div id="right_10_large"></div>
<div id="plusarea2">
     <div id="plusareain2" data-target="#collapseExample2" role="button" data-toggle="toggle">
             <span id="plus">&minus;</span><br/>
             <p style="text-align: center;"><b>Brand<br> Consultation</b></p>
        </div>

</div>
<div id="filler2"> </div>
<div id="drawerarea2">
 <div class="toggle collapse2" id="collapseExample2">
     <div class="texthere2">
             - Bring your brand to life,<br>&nbsp; have structured growth <br>&nbsp;    and action plan<br>
             - Identity and<span id="mybreaksm"><br></span> communication<br> planning<br>
             - Figures, facts and data<br>
             - Brand architecture and <br>consumer interaction<br>
         
  </div>
  </div>
</div>
<div id="right_10"></div>
<div id="right_10"></div>

</div>

<div id="spacer"></div>
<div id="block1">
<div id="left_10_large"></div>
<div id="plusarea1">
<div id="plusareain1i" data-target="#collapseExample3" role="button" data-toggle="toggle">
     <span id="plus">&minus;</span><br/>
     <p style="text-align: center; font-weight:bolder;">Why do I need <br>Graphical Representations<br> For ? </p>
</div>

     
</div>
<div id="filler1"> </div>
<div id="drawerarea1">
 <div class="toggle collapse1" id="collapseExample3">
         <div class="texthere1">
                 - Consistency<br>
                 - Instant recognition<br>
                 - Desirability<br>
                 - Repetition<br>
                 - Brand positioning<br>
                 
          
         </div>
      </div>
</div>
<div id="left_10"></div>
<div id="left_10"></div>
</div>
<div id="spacer"></div>
  <div id="block1">
        <div id="left_10"></div>
           <div id="midtext">
               <span id="mid1"> We uncover ways of disruption, interaction, organization, communication and engagement with customers.<br>
                 Aim to create solutions that</span>
                 <span id="mid2" > disrupt the global market and revolutionize the existing engagement
                models.</span>
           </div>
        <div id="left_10"></div>
   </div>
<div id="spacer"></div>
<div id="block2">
 <div id="right_10_large"></div>
 <div id="plusarea2">
         <div id="plusareain2" data-target="#collapseExample4" role="button" data-toggle="toggle">
                 <span id="plus">&minus;</span><br/>
                 <p style="text-align: center;"><b>Visual<br> and<br> Data Models</b></p>
            </div>

 </div>
 <div id="filler2"> </div>
 <div id="drawerarea2">
     <div class="toggle collapse2" id="collapseExample4">
         <div class="texthere2">
                 - Consumer Engagement<span id="mybreaksm"><br></span> Models<br>
                 - Business Reports<br>
                 - Research based Modules<br>
                 - Trend Reports<br>
                 - Data Intelligence<br>
                 - Online Annual Reports<br>
                 - Ethnographic Research<br>
                 - Envisioning & Story<span id="mybreaksm"><br></span>  Telling<br>                   
         </div>
      </div>
 </div>
 <div id="right_10"></div>
 <div id="right_10"></div>
 
</div>

<div id="spacer"></div>
<div id="block1">
  <div id="left_10"></div>
        <div id="clients">
           <div id="clienttext">
             Kicking <u>pixels</u> all the time! 
           </div><br>
            <div id="clientlogo">
              Here’s who could make best use of us :
              <div id="logos">
              <img src="/assets/images/Visual/delphi.svg" alt="" style="width:20%;height:35%">
              <img src="/assets/images/Visual/Disney.svg" alt="" style="width: 20%;height:35%;margin-left:5%;margin-right:5%;">
              <img src="/assets/images/Visual/Fairfield.svg" alt="" style="width:20%;height:35%">
              <img src="/assets/images/Visual/gnlc.svg" alt="" style="width:20%;height:35%;margin-left:5%;margin-right:5%;"><br><br>
              <img src="/assets/images/Visual/harley.svg" alt="" style="width:25%;height:35%">
              <img src="/assets/images/Visual/MDI.svg" alt="" style="width:25%;height:35%;margin-left:5%;margin-right:5%;">
              <img src="/assets/images/Visual/sepalogo.svg" alt="" style="width:25%;height:35%">
            </div>
            </div>
        </div>
  <div id="left_10"></div>
</div>



 </div>
 

                                                               <!-- Footer starts -->
<div class="row footer no-gutters" style="position: relative; height: 96vh; overflow: hidden;">

  <div class="row fullwidth no-gutters" style="height: 30%; background-color: white;">

<form [formGroup]="formdata" (ngSubmit) = "submit_query(formdata.value)">

    <div class="col-12 no-gutters" style="padding: 0;">
       <div class="input-group">
        <textarea name="query" formControlName="query" class="form-control query_area fullwidth" required="required" placeholder="Enter your query" aria-label="Query"></textarea>
     </div>
    </div>

    <div class="col-12 no-gutters">
      <div class="input-group">
          <input type="email" name="email" formControlName="email" required="required" class="form-control email_area fullwidth" placeholder="email@example.com" aria-label="Email" aria-describedby="basic-addon1">

          <button align="center" type="submit" class="send_area">> Send </button>
      </div>
    </div>  

</form>
  </div>


  <div class="row fullwidth no-gutters links_div" style="height: 40%; overflow: hidden;">

    <div class="col-3 about_div fullheight fullwidth">
    <ul>
      <ol><a routerLink="/about"><span>About us</span></a></ol>
      <ol><a routerLink="/it"><span>IT</span></a></ol>
      <ol><a routerLink="/3dprinting"><span>3D Printing</span></a></ol>
      <ol><a routerLink="/branding"><span>Graphics</span></a></ol>
    </ul>
    </div>

    <div class="col-3 hire_div fullheight fullwidth">
      <ul>
      <ol><a routerLink="/blogs"><span>Blog</span></a></ol>
       <ol><a routerLink="/hireus"><span>Hire us</span></a></ol>
      <ol><a routerLink="/hireme"><span>Hire me</span></a></ol>
      <ol><a routerLink="/contactus"><span>Contact</span></a></ol>
    </ul>
    </div>


    <div class="col-3 social_div fullheight fullwidth">
    <ul>
      <ol><a href="https://www.facebook.com/" target="_blank"><span class="social_icon">Facebook</span></a></ol>
      <ol><a href="https://www.twitter.com/" target="_blank"><span class="social_icon">Twitter</span></a></ol>
      <ol><a href="https://www.instagram.com/" target="_blank"><span class="social_icon">Instagram</span></a></ol>
      <ol><a href="https://www.linkedin.com/" target="_blank"><span class="social_icon">LinkedIn</span></a></ol>
    </ul>
    </div>

    <div class="col-3  fullheight fullwidth">
    </div>

  </div>

  <div class="row ext-rotate" style="height: 30%;">
  </div> 


<a routerLink="/">
<div class="arrow">  
</div>
</a>

</div>                                            <!-- Footer ended -->


                                                  <!-- Extream Footer starts -->
<div class="row ext-footer fullwidth justify-content-md-center">
  <span>© Copyright 2015-2019 WoodFlake Business Solutions and Retail Pvt. Ltd.</span>
</div>                                            <!-- Extram Footer ended -->
